<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>==title==</title>
    <meta name="description" content="==mdescr==">
    ==ex_meta_taga==
    <meta name="author" content="==company==">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta property="og:title" content="==og_title=="/>
    <meta property="og:description" content="==mdescr=="/>
    <meta property="og:url" content="==og_url=="/>
    <meta property="og:image" content="==og_image=="/>
    <meta property="og:site_name" content="==company=="/>
    
    <link rel="shortcut icon" href="==favicon_path==">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">
    <link rel="stylesheet" href="==css_path==">
    <script src="==modernizr_path=="></script>
    ==js_code_head_close==
    ==adwords_code==
</head>
<body==body_cls==>
    <header class="header">
        <div class="container-fluid hidden-md hidden-lg">
            <div class="row">
                <div class="col-xs-12 ">
                    <div class="hidden-md">
                        <div class="toggle-elm">
                            <i class="fa-bars fa"></i>
                        </div>
                        <a href="/">
                            <img src="/graphics/logo.png" alt="Leopard Coachlines">
                        </a>
                        <a href="==contact_url==" class="btn btn-header btn-sm btn--green btn--hover-blue text-sm text-bold"> Enquire <i class="fa fa-angle-right"></i></a>
                    </div>
                    
                </div>
            </div>
        </div>
        <nav class="primary-nav text-bold font-lg text-blue-dark text-bg">
            ==nav-main==
        </nav>
    </header>
    <div class="col-xs-12 logo__wrapper hidden-xs hidden-sm">
        <a href="/" class="logo">
            <img src="/graphics/logo.png" alt="Leopard Coachlines">
        </a>
    </div>
      
   <div class="header-pusher"></div>
    ==slideshow_view==
    ==map_pins_view==

    <main id="main">
    <section class="section section_padding--sm">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="main__intro">
                        <h1 class="main__intro--heading">==heading==</h1>
                        <p class="main__intro--desc">==introduction==</p>
                    </div>
                </div>
            </div>
            <div class="content text-grey">
                ==content==
            </div>
        </div>
    </section>
    ==mod_view==
    ==fleet_view==
    ==map_view==
    </main><!-- #main -->
    ==js_code_body_open==
    
    ==body_html==
    ==why_choose_us==
    ==quicklinks_view==
    ==testimonial_view==
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="row text-center">
                        <div class="footer__contact">
                            <h5 class="text-blue text-bold footer__contact__title">
                                Get in Touch with us!
                            </h5>
                            <ul class="footer__contact-details">
                                <li>
                                    ==phone_icon_view==
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o"></i> 
                                    ==company_email_address==
                                </li>
                                <li>
                                    <address>
                                        <i class="fa fa-map-marker"></i>
                                        ==company_address==
                                    </address>    
                                </li>
                            </ul>  
                        </div>
                    </div> 
                    <div class="footer__credits text-left">
                        ==copyright==<br>
                        ==credits==
                    </div>  
                </div>
                <div class="col-xs-12 col-md-5 col-md-offset-1">
                    <div class="row">
                        ==newsletter_view==
                        <div class="footer__social">
                            ==social==
                        </div>
                    </div>
                    <div class="row">
                        <div class="footer__nav">
                            ==footer_nav==
                        </div>
                    </div>                    
                </div>
                <div class="text-center hidden-md hidden-lg">       
                    <img src="/graphics/pattern-down.png" alt="">
                </div>
                <div class="text-right hidden-xs hidden-sm">       
                    <img src="/graphics/pattern-left.png" alt="">
                </div>
            </div>
        </div>
    </footer>
    
    ==scripts-load-top==
    ==jsVars==
    <script src="==vender_js_path=="></script>
    ==script-ext==
    <script async src="==js_path==" onload="app.init();"></script>
    ==js_code_body_close==
</body>
</html>